<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491666675037-qn78023hniftgrbnvs5r0r2jots6lt51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491666675037-qn78023hniftgrbnvs5r0r2jots6lt51</string>
	<key>API_KEY</key>
	<string>AIzaSyChkvSgzmpYip5Z4kWOfhZJXiAJQp_hSKA</string>
	<key>GCM_SENDER_ID</key>
	<string>491666675037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.regionBasedChat</string>
	<key>PROJECT_ID</key>
	<string>region-based-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>region-based-chat.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491666675037:ios:ce0d163c4b18e5e82b44b4</string>
</dict>
</plist>